@import "index";

.loading {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: @dark;

  .outline {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background-image: url('image/outline_logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .logo {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 0px; 
    margin-left: -50px;
    margin-top: -50px;
    background-image: url('image/logo.png');
    background-size: 100px;
    background-repeat: no-repeat;

    -webkit-transition: width 1.7s ease-in;
    -moz-transition: width 1.7s ease-in;
    -o-transition: width 1.7s ease-in;
    -ms-transition: width 1.7s ease-in;
    transition: width 1.7s ease-in;
  }
}
