.footer {
  height: 100px;
  padding: 55px 175px 0px 175px;

  .links {
    float: right;

    h5 {
      float: left;
      margin: 0px 10px 0px 10px;
      color: @lighter_gray;

      &:hover {
        color: @exceptionally_light_gray;
      }
    }
  }
}
