@dark: #404041;
@cyan: #29ABE2;
@red: #CD3233;
@white: white;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: @dark;
  margin: 0px;
  min-width: 1400px;

  header {
    background-color: @white;
    opacity: 0.85;
    height: 75px;
    z-index: 1;

    .links {
      float: right;

      a {
        margin-left: 0px auto;
        float: left;
        margin: 10px 20px;
        text-decoration: none;

        h5 {
          color: @cyan;
          text-transform: uppercase;
        }
      }
    }
  }

  video {
    position: absolute;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .buy {
    position: absolute;
    left: 300px;
    top: 650px;
    height: 300px;
    width: 450px;
    z-index: 1;

    h2 {
      text-transform: uppercase;
      color: @white;
    }

    h4 {
      color: @white;
    }
  }
}
