@dark: #404041;
@cyan: #29ABE2;
@red: #CD3233;
@text_color: white;
@banner_color: rgba(0, 0, 0, 0.5);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0px;
  min-width: 1400px;
  background-color: @dark;

  /* for loading animation */
  .content {
    display: none;
  }

  .loading {
    margin: 200px auto;
    height: 150px;
    width: 150px;

    .stripe {
      height: 100%;
      width: 100%;
      background-image: url('image/stripe_logo.png');
      background-size: 150px;
      background-repeat: no-repeat;

      .logo {
        height: 100%;
        width: 0%;
        background-image: url('image/logo.png');
        background-size: 150px;
        background-repeat: no-repeat;
      }
    }

    .striped {

    }
  }

  header {
    background-color: @banner_color;
    height: 75px;
    z-index: 1;

    .logo {
      background-image: url('image/logo.png');
      background-size: 69px;
      background-repeat: no-repeat;
      height: 69px;
      width: 69px;
      margin: 5px 0px 0px 30px;
      float: left;
    }

    .links {
      float: right;

      a {
        margin-left: 0px auto;
        float: left;
        margin: 10px 20px;
        text-decoration: none;

        h5 {
          color: @text_color;
          text-transform: uppercase;

          &:hover {
            -webkit-transition: color 0.08s ease-in;
            -moz-transition: color 0.08s ease-in;
            -o-transition: color 0.08s ease-in;
            -ms-transition: color 0.08s ease-in;
            transition: color 0.08s ease-in;
            color: @cyan;
          }
        }
      }
    }
  }

  .container {
    height: 100%;
    width: 100%;
    overflow: hidden;

    video {
      position: absolute;
      top: 0px;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      overflow: hidden;
    }

    .buy {
      position: absolute;
      left: 13%;
      top: 600px;
      height: 300px;
      width: 450px;
      z-index: 1;
      opacity: 0;
      -webkit-transition: opacity 0.35s ease-in;
      -moz-transition: opacity 0.35s ease-in;
      -o-transition: opacity 0.35s ease-in;
      -ms-transition: opacity 0.35s ease-in;
      transition: opacity 0.35s ease-in;

      h2 {
        text-transform: uppercase;
        color: @dark;
      }

      h4 {
        color: @dark;
      }
    }
  }
}
