@dark: #404041;
@cyan: #29ABE2;
@red: #CD3233;
@text_color: white;
@banner_color: rgba(0, 0, 0, 0.5);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: @dark;

  .sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100%;

    span {
      float: left;
    }

    .logo {
      background-image: url('image/logo.png');
      background-size: 69px;
      background-repeat: no-repeat;
      height: 69px;
      width: 69px;
      margin: 16px 0px 0px 15px;
      float: left;
    }

    .top {
      float: left;

      .item {
        height: 100px;  
        width: 100px;
        display: block;
        background-color: red;
      }
    }

    .bottom {
      position: absolute;
      bottom: 0px;
      height: 100px;

      .item {
        height: 100px;
        width: 100px;
        background-color: red;
      }
    }
  }

  .container {
    height: 100%;
    width: 100%;
    overflow: hidden;

    video {
      position: absolute;
      top: 0px;
      left: 0px;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }

    .buy {
      position: absolute;
      left: 13%;
      bottom: 5%;
      height: 300px;
      width: 300px;
      z-index: 1;
      opacity: 0;
      -webkit-transition: opacity 0.35s ease-in;
      -moz-transition: opacity 0.35s ease-in;
      -o-transition: opacity 0.35s ease-in;
      -ms-transition: opacity 0.35s ease-in;
      transition: opacity 0.35s ease-in;

      h2 {
        text-transform: uppercase;
        color: @dark;
      }

      h4 {
        color: @dark;
      }

      .button {
        border: 1px solid #404041;
        border-radius: 5px;
        height: 50px;
        width: 250px;
        text-align: center;
        text-transform: uppercase;

        &*:hover {
          background-color: @dark;
          cursor: pointer;

          a > h2 {
            color: @text_color;
          }
        }

        a {
          text-decoration: none;

          h2 {
            margin: 10px 0px 0px 0px;
            text-align: center;
          }
        }
      }
    }
  }
}
