@import "index";
@import "sidebar/tablet";
@import "home/home";
@import "apollo/apollo";

video {
  display: none;
}

.container {
  background-image: url('image/air.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.loading {
  display: none;
}
