  <div class="footer">
<!--     <span class="links">
      <a href="mission">
        <h5>Mission</h5>
      </a>
      <a href="jobs">
        <h5>Jobs</h5>
      </a>
      <a href="Company">
        <h5>Company</h5>
      </a>
    </span> -->
    <span class="social">
      <a href="https://www.facebook.com/carbonorigins">
        <div class="facebook"></div>
      </a>
      <a href="https://twitter.com/CarbonOrigins">
        <div class="twitter"></div>
      </a>
      <a href="https://www.youtube.com/channel/UCM14Kf9BeR-S67YFm9Hy9MQ">
        <div class="youtube"></div>
      </a>
    </span>
  </div>
  </body>
</html>
