<html>
  <title>Carbon Origins</title>
  <link rel="stylesheet" media="(max-width: 768px)" href="tablet.css" />
  <link rel="stylesheet" media="(min-width: 769px)" href="desktop.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="vendor.min.js"></script>
  <script type="text/javascript" src="index.min.js"></script>
  <head>
  </head>
<body>
