<html>
  <title>Carbon Origins</title>
  <link rel="stylesheet" href="index.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="vendor.min.js"></script>
  <script type="text/javascript" src="index.min.js"></script>
  <head>
  </head>
<body>
  <header class="content">
    <div class="logo">
    </div>
    <div class="links">
      <a href="carbonone"><h5>Carbon One</h5></a>
      <a href="carbonone"><h5>Carbon One</h5></a>
      <a href="carbonone"><h5>Carbon One</h5></a>
    </div>
  </header>
