<%- include header.ejs %>

  <div class="loading">
    <div class="stripe">
      <div class="logo">
      </div>
    </div>
  </div>

  <div class="container content">
    <video class="banner" loop muted autoplay poster="image/air.png">
      <source src="video/air.m4v">
    </video>

    <div class="buy">
      <h2>Taking payloads to space</h2>
      <h4>We are enabling makers and hobbyists to send payloads to suborbital space for a fraction of the normal cost.</h4>
      <div class="button">
        <h2>Stay Connected</h2>
      </div>
    </div>
  </div>

<%- include footer.ejs %>
