<%- include header.ejs %>

  <div class="container">
    <video class="banner" src="video/air.m4v" autoplay loop muted poster="posterimage.jpg">
      Sorry, your browser doesn't support embedded videos, 
      but don't worry, you can <a href="videofile.ogg">download it</a>
      and watch it with your favorite video player!
    </video>

    <div class="buy">
      <h2>Taking payloads to space</h2>
      <h4>Sign up now and have your payload on a Carbon Origins rocket.  For less than the price of a handjob.</h4>
    </div>
  </div>

<%- include footer.ejs %>
