<%- include header.ejs %>
<%- include loading.ejs %>
<%- include sidebar/sidebar.ejs %>
  <div class="container">
    <video class="banner" loop muted autobuffer autoplay poster="image/air.png">
      <source src="http://d1rigp3j5dzrd5.cloudfront.net/air.m4v">
    </video>

    <div class="buy">
      <h2>Taking payloads to space by 2016</h2>
      <div class="button">
        <a href="http://eepurl.com/LQjpT" target="_blank">
          <h2>Stay Connected</h2>
        </a>
      </div>
    </div>
  </div>

<%- include footer.ejs %>
