<%- include header.ejs %>

  <div class="banner">
    <div class="buy">
      <h2>Taking payloads to space</h2>
      <h4>Sign up now and have your payload on a Carbon Origins rocket.  For less than the price of a handjob.</h4>
    </div>
  </div>

<%- include footer.ejs %>
