body {
  height: 100%;
  width: 100%;
}

.home {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;

  video {
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .buy {
    position: absolute;
    left: 13%;
    bottom: 5%;
    height: 300px;
    width: 300px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in;
    -moz-transition: opacity 0.35s ease-in;
    -o-transition: opacity 0.35s ease-in;
    -ms-transition: opacity 0.35s ease-in;
    transition: opacity 0.35s ease-in;

    h2 {
      text-transform: uppercase;
      color: @dark;
    }

    h4 {
      color: @dark;
    }
  }
}
