.links {
  height: 70px;
  padding-top: 20px;

  >div {
    margin: 0px 150px;
    overflow: auto;
    border-bottom: 1px solid @light_gray;

    .logo {
        background-image: url('../image/logo/apollo_text.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 45px;
        width: 200px;
        float: left;
      }

    span {
      text-transform: uppercase;
      float: right;
      margin: 0px 10px;

      a {
        color: @text_color;
        text-decoration: none;
      }
    }
  }
}
