.links {
  height: 70px;

  >div {
    margin: 0px 150px;
    padding-bottom: 12px;
    overflow: auto;
    border-bottom: 1px solid @light_gray;

    .logo {
        height: 45px;
        width: 200px;
        margin-top: 2px;
        background-image: url('../image/logo/apollo_text.png');
        background-repeat: no-repeat;
        background-size: 100%;
        float: left;
      }

    .links_container {
      margin-top: 15px;

      a {
        text-decoration: none;

        .preorder {
          height: 30px;
          margin: 2px 10px 0px 10px;
          float: right;
          padding: 0px 7px;
          background-color: @cyan;
          border: 1px solid @cyan;
          border-radius: 15px;
          cursor: pointer;

          &:hover {
            background-color: @dark_cyan;
            border: 1px solid @dark_cyan;
          }

          h5 {
            color: @text_color;
            margin-top: 6px;
          }
        }
      }

      span {
        text-transform: uppercase;
        float: right;
        margin: 0px 10px;

        a {
          color: @text_color;
          text-decoration: none;

          &:hover {
            color: @text_highlight;
          }
        }
      }
    }
  }
}
