.apollo {
  width: 100%;

  >div {
    width: 300px;
    margin: 150px auto 0px auto;

    .close-up {
      height: 500px;
      width: 300px;
      background-image: url('../image/apollo.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .description {
      width: 300px;
      height: 400px;
      text-align: center;

      h1 {
        color: @text_color;
      }

      table {
        margin: 0px auto;

        td {
          padding: 10px;

          .feature {
            height: 100px;
            width: 100px;
            float: left;
            border: 1px solid @text_color;
            border-radius: 5px;
          }
        }
      }

      .button {
        height: 50px;
        width: 250px;
        border: 1px solid @cyan;
        border-radius: 5px;
        margin: 50px auto 0px auto;
        text-align: center;
        text-transform: uppercase;

        &*:hover {
          background-color: @cyan;
          cursor: pointer;

          a > h2 {
            color: @text_color;
          }
        }

        a {
          text-decoration: none;

          h2 {
            color: @cyan;
            margin: 10px 0px 0px 0px;
            text-align: center;
          }
        }
      }
    }
  }
}
