.sidebar {
  z-index: 1.0;
  position: fixed;
  top: 0px;
  width: 100px;
  height: 100%;

  .logo {
    background-image: url('../image/logo/logo.png');
    background-size: 69px;
    background-repeat: no-repeat;
    height: 69px;
    width: 69px;
    margin: 16px 0px 0px 15px;
    float: left;
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    height: 100px;

    .item {
      height: 100px;
      width: 100px;
    }
  }
}
