.sidebar {
  z-index: 1.0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  width: 100px;
  height: 100%;

  span {
    float: left;
  }

  .logo {
    background-image: url('../image/logo/logo.png');
    background-size: 69px;
    background-repeat: no-repeat;
    height: 69px;
    width: 69px;
    margin: 16px 0px 0px 15px;
    float: left;
  }

  .top {
    float: left;
    margin-top: 40px;

    .item {
      height: 70px;  
      width: 70px;
      margin: 15px;
    }

    .aerospace {
      background-image: url('../image/logo/rocket.png');
      background-size: 70px;
    }

    .apollo {
      background-image: url('../image/logo/apollo.png');
      background-size: 100%;
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../image/logo/apollo_highlighted.png');
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 0px;
    height: 100px;

    .item {
      height: 100px;
      width: 100px;
      background-color: red;
    }
  }
}
