@import "common";

.sidebar {
  span {
    float: right;
  }

  .top {
    float: right;

    .item {
      height: 100px;  
      width: 100px;
    }

    .aerospace {
      background-image: url('../image/logo/rocket.png');
      background-size: 100px;
    }

    .apollo {
      background-image: url('../image/logo/apollo.png');
      background-size: 100px;

      &:hover {
        background-image: url('../image/logo/apollo_highlighted.png');
      }
    }
  }
}
