<%- include ../header.ejs %>
<%- include ../sidebar/sidebar.ejs %>
  <div class="apollo">
    <div>
      <div class="close-up">
      </div>
      <div class="description">
        <h1>Apollo</h1>
        <table>
          <thead>
          </thead>
          <tbody>
            <tr>
              <td><div class="feature">Sensors</div></td>
              <td><div class="feature">Battery</div></td>
            </tr>
            <tr>
              <td><div class="feature">Price</div></td>
              <td><div class="feature">Fucks your wife!</div></td>
            </tr>
          </tbody>
        </table>
        <div class="button">
          <a href="#">
            <h2>Pre-order Now</h2>
          </a>
        </div>
      <div>
    </div>
  </div>

<%- include ../footer.ejs %>
