<%- include ../header.ejs %>
<%- include ../sidebar/sidebar.ejs %>
  <div class="links">
    <div>
      <div class="logo">
      </div>
      <div class="preorder">
        <a href="#preorder">
          <h5>Pre-Order</h5>
        </a>
      </div>
      <span>
        <a href="#communication">
          <h5>Communication</h5>
        </a>
      </span>
      <span>
        <a href="#sensors">
          <h5>Sensors</h5>
        </a>
      </span>
    </div>
  </div>
  <div class="apollo">
    <section id="apollo">
      <div>
        <div class="billboard">
          <h1>Eight sensors. One square inch.</h1>
        </div>
        <div class="side">
        </div>
        <div class="conventions">
          <div class="makercon"></div>
          <div class="makerfaire"></div>
          <div class="ces"></div>
        </div>
      </div>
    </section>
    <section id="sensors">
      <div class="container">
        <div>
          <div class="sensors">
          </div>
        </div>
      </div>
    </section>
    <section id="communication">
      <div class="container">
        <div class="communication">
          <div>
            <div class="microsd">
            </div>
            <p>
              Store data by the gigabyte.  Apollo includes a microsd slot for easy data logging and storage.
            </p>
          </div>
          <div>
            <div class="bluetooth">
            </div>
            <p>
              Connect over bluetooth.  Apollo has bluetooth built in to interface with nearby devices.
            </p>
          </div>
          <div>
            <div class="wifi">
            </div>
            <p>
              Access the web from Apollo.  WiFi is built in, so it's easy to integrate your app with online services.
            </p>
          </div>
        </div>
        <div class="info">
        </div>
      </div>
    </section>
    <section id="preorder">
      <div class="container">
        <div>
          <h1>Pre-Order</h1>
          <h5>Sign up here to reserve an Apollo from our first production run.  No obligation.</h5>
          <div class="preorder">
            <%- include preorder.ejs %>
          </div>
        </div>
      </div>
    </section>
  </div>

<%- include ../footer.ejs %>
