<%- include ../header.ejs %>
<%- include ../sidebar/sidebar.ejs %>
  <div class="links">
    <span>
      <a href="#sensors">
        <h4>Sensors</h4>
      </a>
    </span>
    <span>
      <a href="#software">
        <h4>Software</h4>
      </a>
    </span>
  </div>
  <div class="apollo">
    <section id="apollo">
      <div>
        <div class="logo">
        </div>
        <div class="side">
        </div>
      </div>
    </section>
    <section id="stats">
      <div class="container">
        <div>
          <div class="close-up">
          </div>
          <div class="description">
            <div class="info">
              <div class="apollo_text"></div>
              <table>
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td><div class="feature">Sensors</div></td>
                    <td><div class="feature">Battery</div></td>
                  </tr>
                  <tr>
                    <td><div class="feature">Price</div></td> 
                    <td><div class="feature">Fucks your wife!</div></td>
                  </tr>
                </tbody>
              </table>
              <div id="preorder" class="button">
                <a href="#">
                  <h2>Pre-order Now</h2>
                </a>
              </div>
            </div>
            <div class="preorder">
              <h1>penis?</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<%- include ../footer.ejs %>
