<%- include ../header.ejs %>
<div>
  <div class="content">
    <div class="apollo">
      <section id="apollo">
        <div>
          <div class="photo">
            <div class="billboard">
              <h1>Eight sensors + BLE + WiFi + OLED display in one square inch.</h1>
            </div>
            <div class="side">
            </div>
          </div>
          <div class="conventions">
            <div class="shadeup">
              <div class="shadedown">
                <div>
                  <h5>As seen at</h5>
                </div>
                <div>
                  <div class="makercon"></div>
                  <div class="makerfaire"></div>
                  <div class="ces"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sensors">
        <h1>Sensors</h1>
        <div class="content_container">
          <div class="sensors">
          </div>
        </div>
      </section>
      <section id="communication">
        <h1>Communication</h1>
        <div class="content_container">
          <div class="communication">
            <div>
              <div class="microsd">
              </div>
              <p>
                Store data by the gigabyte. Apollo includes a microSD card slot for easy data logging.
              </p>
            </div>
            <div>
              <div class="bluetooth">
              </div>
              <p>
                Apollo has a bluetooth low energy module to interface with nearby devices.
              </p>
            </div>
            <div>
              <div class="wifi">
              </div>
              <p>
                Connect to the internet of things! Apollo allows you to connect your projects to the internet with its wifi module.
              </p>
            </div>
          </div>
          <div class="info">
          </div>
        </div>
      </section>
      <section id="preorder">
        <h1>Pre-Order</h1>
        <h5>Sign up here to reserve an Apollo from our first production run.  No obligation.</h5>
        <div class="content_container">
          <div>
            <div class="apollo_placeholder"></div>
            <div class="preorder">
              <%- include preorder.ejs %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<%- include ../footer.ejs %>
