<%- include ../header.ejs %>
<div>
  <div class="content">
    <div class="apollo">
      <section id="apollo">
        <div>
          <div class="side_photo">
            <div class="billboard">
              <h1>Eleven sensors + BLE + WiFi + OLED display.</h1>
            </div>
          </div>
          <div class="conventions">
            <div class="shadeup">
              <div class="shadedown">
                <div>
                  <h5>As seen at</h5>
                </div>
                <div>
                  <div class="makercon"></div>
                  <div class="makerfaire"></div>
                  <div class="ces"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sensors">
        <h1>Sensors</h1>
        <div class="content_container">
          <div class="sensors">
          </div>
        </div>
      </section>
      <section id="communication">
        <h1>Communication</h1>
        <div class="content_container">
          <div class="communication">
            <div>
              <div class="trackball">
              </div>
              <p>
                A device this small requires a natural feeling input.  Our trackball provides a comfortable and precise way to control Apollo.
              </p>
            </div>
            <div>
              <div class="oled">
              </div>
              <p>
                Apollo ships with a 128 x 64 pixel 0.93" OLED screen.  This allows users to navigate apps and display data easily.
              </p>
            </div>
            <div>
              <div class="mic">
              </div>
              <p>
                Apollo takes location awareness to the next level with an onboard microphone for audio recording and streaming.
              </p>
            </div>
          </div>
          <div class="info">
          </div>
        </div>
      </section>
      <section id="preorder">
        <h1>Pre-Order</h1>
        <div class="content_container">
          <div>
            <div class="apollo_vertical"></div>
            <div class="preorder">
              <h3>Pre-Order to join our open beta!</h3>
              <h5>You will recieve an Apollo and early access to some really exciting developer tools we have been working on.</h5>
              <a href="http://eepurl.com/3yNMj">
                <div type="submit" value="Reserve" name="subscribe" id="mc-embedded-subscribe" class="button">
                  <h3>Get Yours</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<%- include ../footer.ejs %>
