<%- include ../header.ejs %>
<%- include ../sidebar/sidebar.ejs %>
  <div class="apollo">
    <div>
      <div class="close-up">
      </div>
      <div class="close-up">
      </div>
      <div class="close-up">
      </div>
      <div class="close-up">
      </div>
    </div>
  </div>

<%- include ../footer.ejs %>
