<div class="sidebar">
  <div class="logo">
  </div>
  <div class="top">
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <div class="bottom">
    <div class="item"></div>
  </div>
</div>
