<div class="sidebar">
  <a href="/#">
    <div class="logo">
    </div>
  </a>
  <div class="top">
    <a href="aerospace">
      <span class="item"></span>
    </a>
    <a href="apollo">
      <span class="item"></span>
    </a>
  </div>
  <div class="bottom">
    <span class="item"></span>
  </div>
</div>
